@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: indianred;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 9px #999;
}

button:hover {background-color: darkred}

button:active {
    background-color: darkred;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.blue {
    background-color: #393eb9;
}

button.blue:hover {background-color: darkblue}

button.green {
    background-color: #96cd5c;
}

button.green:hover {background-color: darkgreen}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.column {
    padding: 15px;
    min-height: 100vh;
    margin: 10px;
    background-color: #cccccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: dimgrey;
    font-size: 20px;
}

p.solid {border-style: solid;
    padding: 10px 20px;
    border-radius: 10px;
    color: dimgrey;
}

.confetti{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    /*user-select: none;*/
    pointer-events: none;
}

img {
    max-height: 25px;
    max-width: 25px;
    float: left;
    padding: 2px;
    display:inline-block;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coo